.aid-logo{
  height: 100px;
  width: 120px;
  margin-left: -60px;
  margin-top: -10px;
  margin-bottom: -5px;
  /* opacity: .1; */
}
@media screen and (max-width: 600px) {
  .aid-logo{
    margin-left:-20px;
    margin-top:auto;
    margin-bottom:auto;
  }
}
.site-navbar{
  background-color: white;
  font-family: 'Abril Fatface', cursive;
}
#welcome{
  color: black;
  font-size: 45px;
}
.buy-now{
  font-size: small;
}
.buy-now:hover{
  color: black!important;
  font-size: 12px;
}

.aid-banner{
  /* background-color: #47B5FF; */
  background-image: linear-gradient(to right top, #1029b4, #0032a1, #00368c, #003674, #19355b, #234363, #30506a, #405d70, #458298, #46a9bd, #4ad1db, #5ffbf1);
  border-radius: 17px;
}
#banner-heading{
  font-size: 23px;
  font-weight: bold;
  font-style: normal; 
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}
#condition{
  font-size: 18px;
  font-weight: 600;
  font-style: normal; 
  padding-top: 25px;
}
#des{
  padding-top: 10px;
  font-size: 11.5px;
}
.category-header{
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 1px 1px .5px rgba(0,0,0,0.2);
  cursor: pointer;
}
.background{
  background-color: whitesmoke;
}

.catgory-background{
  background-image: linear-gradient(to right top, #1029b4, #0032a1, #00368c, #003674, #19355b, #234363, #30506a, #405d70, #458298, #46a9bd, #4ad1db, #5ffbf1);
  border-radius: 10px; 
  padding-bottom: 20px;

}
.catgory-background img{
  height: 300px;
  max-width: 350px;
  width: auto;
}
#cat-name{
  font-size: 17px;
  font-weight: 700;
  color: whitesmoke;
  font-weight: bold;
  text-shadow: 1px 1px .5px rgba(0,0,0,0.2);
}

.section-background{
  background-image: linear-gradient(to right top, #091932, #2c4860, #567c8f, #89b4be, #c4eeee);}

.product{
  border: 1px solid none;
  border-radius: 8px;
}  
.product-heading{
  font-size: 15px;
  font-weight: bold;
  color: whitesmoke !important;
}
.product-heading2{
  font-size: 14.5px;
  font-weight: bold;
  color: black !important;
}

